.btn {
    background-color: lightblue;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
  cursor: grabbing;
    background-color: rgb(90, 160, 229);
}

.primer-letra::first-letter {
    font-size: 2rem;
    color:violet;
}

.decorado::before {
    content: "👀 ";
}

.input-foco {
    padding: 8px;
    border: 2px solid gray;
}

.input-foco:focus {
    border-color: rgb(255, 0, 0);
    outline: none;
}

.lista li:first-child {
    font-weight: bold;
    color: blue;
}